// Resolutions
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1400px;

//Colors
$black: #070D15;
$white: #FFFFFF;
$cyan: #A9D6CB;
$dark-blue: #264065;
$beige: #FAF8F5;
$gray: #909090;

//Text

$text: "Poppins", sans-serif;
